<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.mapper.BaseAttrValueMapper">

    <select id="getAttrValueByAttrId" resultType="com.atguigu.entity.BaseAttrValue">
        select * from base_attr_value where attr_id=#{id}
    </select>
</mapper>
